.generated-activity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #000000;
  /* width: 55%; */
  margin: 20px;
}

.activity-card {
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 1000px;
  height: 500px;
  margin-top: 25px;
  background-color: #c19ae4;
  opacity: 70%;
}

.now-go {
  margin-top: 75px;
}
.now-go p{
  font-size: 35px;
}

.save-btn {
  font-size: 18px;
  margin-bottom: 65px;
}

@media only screen and (max-width: 600px) {
  .generated-activity {
    font-size: 16px;
  }
  .activity-card {
    width: 530px;
    height: 400px;
  }
  .save-btn {
    font-size: 18px;
    margin-bottom: 250px;
  }
}

@media only screen and (max-width: 480px) {
  .activity-card {
    width: 255px;
    height: 525px;
  }
}

@media only screen and (max-width: 360px) {
}