form {
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 150px;
}

label {
  margin-right: 7px;
  font-size: 30px;
  font-weight: bold;
}

select {
  font-size: 22px;
}

button {
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  font-weight: bold;
  margin-top: 55px;
  padding: 15px;
  border-radius: 3rem;
}

.activity {
  margin-right: 35px;
}

.do-a-thing {
  margin-top: 55px;
}

.warning {
  color: black;
  font-weight: bold;
  font-size: 22px;
}