.saved-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: 10px;
  /* z-index: 3; */
}

.no-saved-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-saved {
  margin-top: 150px;
  text-align: center;
  font-size: 25px;
}

.saved-card {
  border: 3px solid black;
  padding: 10px;
}

.complete-btn {
  font-size: 18px;
  margin-right: 15px;
}
.delete-btn {
  font-size: 18px;
  margin-left: 15px;
}