header {
  background-color: #c19ae4;
  opacity: 95%;
  border-bottom: 2px solid #858383;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.app-name {
  font-family: 'Space Mono', monospace; 
  font-size: 45px;
  margin-bottom: 0;
}

.home-icon {
  width: 20%;
  margin-top: 50px;
  position: sticky;
  transition: all .2s ease-in-out;
}

.home-icon:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 0px #80f688;
  border-radius: 25px;
}

.nav-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.saved-btn {
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-left: 45px;
}

.showcase-btn {
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
}


@media only screen and (max-width: 1025px) {
  .app-name {
    font-size: 35px;
  }

  .saved-btn,
  .showcase-btn {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 11rem;
  }
  img {
    width: 28%;
    margin-bottom: 56px;
  }
  .app-name {
    font-size: 45px;
  }

  .saved-btn,
  .showcase-btn {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .app-name {
    font-size: 38px;
  }
  .home-icon {
    width: 30%;
  }
}

@media only screen and (max-width: 360px) {
  .app-name {
    font-size: 30px;
  }
  .home-icon {
    width: 75%;
  }
}
