header {
  background-color: #c19ae4;
  border-bottom: 2px solid #956eba;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.app-name {
  font-family: 'Space Mono', monospace; 
  font-size: 45px;
  margin-bottom: 0;
}

.home-icon {
  width: 20%;
  margin-top: 50px;
  /* margin-left: 20px; */
  position: sticky;
  transition: all .2s ease-in-out;
}

.home-icon:hover {
  /* background-color: chartreuse; */
  transform: scale(1.20);
}

.nav-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.saved-btn {
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-left: 45px;
}

.showcase-btn {
  font-size: 20px;
  /* margin-right: 25px; */
  margin-bottom: 15px;
  margin-left: 20px;
}
