.footer {
  font-family: 'Space Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(149, 110, 186);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.home-icon {
  width: 20%;
  margin-top: 2rem;
}

.home-icon:hover {
  background-color: chartreuse;
}

.saved-btn {
  font-size: 22px;
  margin-right: 20px;
}

.showcase-btn {
  font-size: 22px;
  margin-left: 20px;
}