.showcase-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: 25px;
}

.head {
  font-size: 45px;
  font-weight: bold;
  color: #322252;
}

.nothing-to-see {
  font-size: 30px;
  font-weight: bold;
}

/* border styling */
.completed-card {
  --border-width: 10px;
  background: #c19ae4;
  position: relative;
  border-radius: var(--border-width);
}

.completed-card:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  height: calc(100% + var(--border-width) * 2);
  width: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--border-width));
  z-index: -1;
  animation: animatedgrad 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgrad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* media queries */

@media only screen and (max-width: 600px) {
  .showcase-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    margin: 10px;
  }
  .nothing-to-see {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .nothing-to-see {
    font-size: 22px;
    word-wrap: normal;
  }
}

@media only screen and (max-width: 480px) {
  .showcase-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    margin: 10px;
  }
  .nothing-to-see {
    font-size: 18px;
  }
}